<div class="row">
  <div class="col-sm-12 mx-auto">
    <div class="align-middle">
      <div class="text-center"><br><br><br><br>
        <img src="assets/img/logoCRAGO.png" width="300px">
        <br><br><br><br>
        <h3 style="color:#0c5460"><b>Bem Vindo ao ADMIN-WEB.</b></h3>
        <h1 style="color:#0c5460">Escolha um dos Menus acima.</h1><br><br>
        <table>
          <tr>
              <td class="align-left" width="20%"></td>
            <td class="align-left" style="color:#0c5460">
                   <p class="text-left" > - Contatos Realizados pelo Site</p>
                    <p class="text-left"> - Ouvidoria.</p>
                      <p class="text-left"> - Controle de Eventos. Neste Módulo voce poderá cadastrar eventos, verificar e efetivar as inscrições
                      para determinado evento.</p>
            </td>
            <td width="20%"></td>
          </tr>
          </table>
          <br><br><br>
        <p class="text-right"><i>Ambiente Monitorado</i></p>
      </div>
      </div>
      </div>