
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Acesso não autorizado !!!</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p *ngFor="let alert of alerts">
            <ngb-alert [type]="alert.type" [dismissible]="false"><b>ATENÇÃO</b>, você não está autorizado a executar esta operação. Por favor, solicite acesso junto ao gestor.</ngb-alert>
          </p>
    </div>
    <div class="modal-footer">
   
    </div>
  